
Codility/.idea/workspace.xml
Codility/.idea/modules.xml
Codility/.idea/misc.xml
Codility/.idea/Codility.iml
Codility/.idea/codeStyles/codeStyleConfig.xml
Codility/.DS_Store
.DS_Store
*.iml
*.xml
Other/Test.py
Other/DeckOfCards.py
